DATABASE_URL=postgresql://postgres:postgres@46.62.240.206:5432/nuxt_better_auth_hyperdrive_demo
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_POSTGRES=postgresql://postgres:postgres@46.62.240.206:5432/nuxt_better_auth_hyperdrive_demo
HYPERDRIVE_ID=af9759cb958841a18246448696ed2c5f
