DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nuxt_better_auth_hyperdrive_demo
HYPERDRIVE_ID=
NUXT_BETTER_AUTH_SECRET=replace-this-with-a-32-character-secret
NUXT_PUBLIC_SITE_URL=http://localhost:3000
