node_modules
.nuxt
.output
.data
*.log

better-auth-6613/.data
better-auth-6613-fixed/.data
nuxthub-755/.data
nuxt-better-auth-33/.data
nuxthub-521/.data
hub-772/.data
hub-772-fixed/.data
nuxthub-auto-remote-test/.data
nuxthub-drizzle-demo/.data
nuxthub-prisma-demo/.data
nuxthub-791/.data
nuxthub-805/.data
nuxthub-809/.data
nuxthub-809-fix/.data
sandbox-test/.data

nuxthub-830-db/.data