node_modules
.nuxt
.output
.data
*.log

better-auth-6613/.data
better-auth-6613-fixed/.data
nuxt-better-auth-12/.data
nuxthub-762/.data
formula-100-pr29/.data
nuxt-better-auth-nuxthub-test/.data
formula-100-auth-test/.data