DATABASE_URL=postgresql://postgres:postgres@46.62.240.206:5432/nuxt_better_auth_hyperdrive_demo
HYPERDRIVE_ID=dummy
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_POSTGRES=postgresql://postgres:postgres@46.62.240.206:5432/nuxt_better_auth_hyperdrive_demo
