DATABASE_URL=postgresql://postgres:postgres@46.62.240.206:5432/nuxt_better_auth_hyperdrive_demo
HYPERDRIVE_ID=dummy
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_POSTGRES=postgresql://postgres:postgres@46.62.240.206:5432/nuxt_better_auth_hyperdrive_demo
NUXT_BETTER_AUTH_SECRET=0123456789abcdef0123456789abcdef
NUXT_PUBLIC_SITE_URL=http://localhost:3000
